@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  #root {
    min-height: 100vh;
  }

  html {
    color-scheme: dark;
  }

  body {
    margin: 0;
    min-width: 320px;
    background: #000;
    font-family: 'DM Sans', sans-serif;
  }

  button,
  input {
    font: inherit;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }

}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 9999px;
  background: white;
  cursor: pointer; 
}

.custom-slider {
  background: #4d4d4d;
}

@keyframes spinDisk {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}